body {
    background-color: rgba(172, 172, 158, 0.423);
    font-family: 'Roboto', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px;
    margin: 50px;
}

.screen {
    border: solid;
    border-radius: 5px;
    height: 50px;
    margin: 20px;
    background-color: rgb(222, 222, 222);
    text-align: right;
    padding: 10px;
    font-size: 24px;
}
.calculator {
    width: 350px;
    border: solid;
    border-radius: 5px;
    background-color: lightgray;
}

.btns-box {
    display: grid;
    padding: 10px;
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;
}

.btns {
    border: solid;
    border-radius: 5px;
    font-size: 20px;
    padding: 20px
}

.btns:hover {
    background-color: darkgray; 
}

.btns:active {
    background-color: gray;
}
.clear{
    grid-column: span 2;
}
